<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn words by writing</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="wordContainer">

    </div>
    <input type="text" id="wordInput" placeholder="Enter a word">
    <div id="example" class="box"></div>
    <div id="exampleTranslation" class="box"></div>
    <button id="exampleSwitch" class="button">Switch Examples</button>
    <button class="button" id="giveUp">Give up</button>
    <button class="button" id="restart">Restart</button>
    <div class = "wordCount"></div>
    <script src = "./script.js"></script>
</body>
</html>
